{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Welcome to AurvedToAll</h2>
        <p>
            At our clinic, we are dedicated to restoring harmony and balance to your mind, body, and spirit through the time-honored practices of Ayurveda.
            With a deep-rooted commitment to holistic wellness, our team of experienced practitioners offers personalized care that honors your unique constitution & individual needs.
            Step into a healing sanctuary where tradition meets innovation, and embark on a journey towards optimal health and vitality.
            Discover the transformative power of Ayurveda.
        </p>
    </section>
{% endblock %}
